<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="system.identityModel" type="System.IdentityModel.Configuration.SystemIdentityModelSection, System.IdentityModel, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
    <section name="system.identityModel.services" type="System.IdentityModel.Services.Configuration.SystemIdentityModelServicesSection, System.IdentityModel.Services, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
  </configSections>
  <system.web>
    <compilation targetFramework="4.6" />
    <httpRuntime targetFramework="4.6" />
    <!-- Disable integrated authentication -->
    <!--<authentication mode="None" /> -->
    <!--<authorization><deny users="?" /></authorization>-->
    <!-- Enable error messages everywhere -->
    <customErrors mode="Off" />
  </system.web>
  <system.webServer>
    <modules>
      <!-- Enable required modules -->
      <add name="WSFederationAuthenticationModule" type="System.IdentityModel.Services.WSFederationAuthenticationModule, System.IdentityModel.Services, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" preCondition="managedHandler" />
      <add name="SessionAuthenticationModule" type="System.IdentityModel.Services.SessionAuthenticationModule, System.IdentityModel.Services, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" preCondition="managedHandler" />
    </modules>
    <rewrite>
      <rules>
        <clear />
        <!-- Enforce https -->
        <rule name="Redirect to https" stopProcessing="true">
          <match url="(.*)" />
          <conditions>
            <add input="{HTTPS}" pattern="off" ignoreCase="true" />
          </conditions>
          <action type="Redirect" url="https://{HTTP_HOST}{REQUEST_URI}" redirectType="Permanent" appendQueryString="false" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
  <system.identityModel>
    <identityConfiguration>
      <!-- 
	    Tokens scoped for this URI will be accepted, all others will be rejected. Ref http://msdn.microsoft.com/en-us/library/hh568654(v=vs.110).aspx 
	    This means that this should be the url of your site.
	  -->
      <audienceUris>
        <add value="https://vledashboard.azurewebsites.net/" />
      </audienceUris>
      <!-- Change token handler to support webfarms. SessionSecurityTokenHandler does not support load balancing without affinity. Ref http://msdn.microsoft.com/en-us/library/system.identitymodel.services.tokens.machinekeysessionsecuritytokenhandler(v=vs.110).aspx -->
      <securityTokenHandlers>
        <add type="System.IdentityModel.Services.Tokens.MachineKeySessionSecurityTokenHandler, System.IdentityModel.Services, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
        <remove type="System.IdentityModel.Tokens.SessionSecurityTokenHandler, System.IdentityModel, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      </securityTokenHandlers>
      <!-- Must be disabled to support self signed token signing certificates in ADFS -->
      <certificateValidation certificateValidationMode="None" />
      <!-- Configure the token signing validation -->
      <issuerNameRegistry type="System.IdentityModel.Tokens.ValidatingIssuerNameRegistry, System.IdentityModel.Tokens.ValidatingIssuerNameRegistry">
        <!-- This is the NAME of the ADFS. It should be http, not https. It does not need to be accessible or anything, it's only an identifier -->
        <authority name="http://fs.disdubai.ae/adfs/services/trust">
          <keys>
            <add thumbprint="095AEB319A5C243019DB18B5D2FE2C07E23F9C99" />
          </keys>
          <validIssuers>
            <!-- This is the NAME of the ADFS. It should be http, not https. It does not need to be accessible or anything, it's only an identifier -->
            <add name="http://fs.disdubai.ae/adfs/services/trust" />
          </validIssuers>
        </authority>
      </issuerNameRegistry>
    </identityConfiguration>
  </system.identityModel>
  <system.identityModel.services>
    <federationConfiguration>
      <cookieHandler requireSsl="true" />
      <!-- Enables passive redirecting to ADFS. This means that you can just go to https://vledashboard.azurewebsites.net/, and you will be forwarded to ADFS if you are not authenticated. -->
      <wsFederation passiveRedirectEnabled="true" issuer="https://fs.disdubai.ae/adfs/ls/" realm="https://vledashboard.azurewebsites.net/" requireHttps="true" />
    </federationConfiguration>
  </system.identityModel.services>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
</configuration>
<!--ProjectGuid: 74A71DDB-5983-48C0-892A-C9D1F2B84AC6-->