.vle-redirector .container-fluid h1,
.vle-redirector .container-fluid h4 {
  text-align: center;
}

.vle-redirector-card .card {
  margin-top: 40px;
  align-content: center;
  text-align: center;
  padding: 5px;
}

.vle-redirector-card .card-header {
  /* */
  padding: initial;
}

.vle-redirector-card .card-body {
  text-align: center;
}

.vle-redirector-card .info-mg-top {
  margin: 5px;
}

.vle-redirector-card .info-mg-top a button {
  margin: 5px;
}
